<section class="container my-5">
    <h2 class="text-center">Contactame</h2>
    <form  action="" method="post">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre">
            <label for="name">Nombre</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="telefono" placeholder="Ingresa tu teléfono">
            <label for="telefono">Telefono</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" name="mensaje" id="mensaje" rows="5" cols="5" style="height: 100px" placeholder="Enviame un mensaje"></textarea>
            <label for="mensaje" class="form-label">Mensaje</label>
        </div>
        <button class="btn-contacto mt-3 w-100">
            Enviar
        </button>
    </form>
</section>
