<section class="container">
    <h2 class="text-center">Acerca de mi</h2>
    <div class="about">
        <div class="p-1 p-md-5 p-lg-2">
            <p>
                ¡Hola! Soy Leonardo Zambrano, Desarrollador web Full Stack con pasión por crear experiencias digitales modernas, intuitivas y eficientes.  Transformo ideas en productos funcionales, optimizados y visualmente atractivos.
            </p>
        </div>
        <div class="d-none d-md-block d-lg-block marco">
            <div>
                <img src="../../../assets/img/image/fotoPerfil.png" alt="">
            </div>
        </div> 
    </div>
</section>
