$titleColor: #7D5BA6;

h2 {
    color: $titleColor;
    font-size: 2.5rem;
    margin: 20px 0px;
}


.about {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 25px 0px;
    font-size: 1rem;
    line-height: 1.8;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;    
    }
}