<section class="container">
    <h2 class="text-center">Acerca de mi</h2>
    <div class="about">
        <div class="p-1 p-md-5 p-lg-2">
            <p>
                ¡Hola! Soy Leonardo Zambrano, un apasionado Tecnólogo en Desarrollo de Software que actualmente está expandiendo su horizonte para convertirse en un Ingeniero de Sistemas. Con una sólida experiencia como Desarrollador Web FullStack, he tenido el privilegio de contribuir al desarrollo de páginas gubernamentales y empresariales, una experiencia que ha fortalecido mi habilidad para crear interfaces intuitivas y atractivas. 
            </p>
            <p>
                Mi viaje en el desarrollo web va más allá de la rutina laboral, ya que me encanta sumergirme en el aprendizaje autodidacta para mantenerme actualizado en las últimas tecnologías. Mi fascinación por la programación me ha llevado a explorar diversas herramientas y frameworks, destacando mi habilidad en AngularJS, React, Html, SASS, StencilJS, CSS. 
            </p>
        </div>
        <div class="d-none d-md-block d-lg-block">
            <img class="img-fluid" src="../../../assets/img/office.jpg" alt="imagen de escritorio personal">
        </div>     
    </div>
</section>
