
footer {
    border-top: 2px solid #F3A712;
}

.footer_container {
    height: 100px;
    padding: 20px 0px;

}

.logo-footer {
    height: 40px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(208deg) brightness(100%) contrast(101%);
}