<section class="hero">
    <div class="overlay">
        <div class="container">
            <app-navbar></app-navbar>
            <section class="info">
                <section>
                    <div>
                        <h1>Leonardo</h1>
                        <h2>zambrano</h2>
                        <p>Desarrollador Web FullStack</p>
                    </div>
                </section>
                <section>
                    <button class="btn-light">Hoja de vida</button>
                    <button class="btn-contacto ms-2">Portafolio</button>
                </section>
            </section>
        </div>
    </div>
</section>
