<section class="hero">
    <div class="overlay">
        <div class="container">
            <app-navbar></app-navbar>
            <section class="info">
                <section>
                    <div>
                        <h1 class="tracking-in-contract">Leonardo</h1>
                        <h2 class="tracking-in-contract-bck-bottom">Zambrano</h2>
                        <p>Desarrollador Web FullStack</p>
                    </div>
                </section>
                <section>
                    <button (click)="downloadPdf()" class="btn-light">Hoja de vida</button>
                    <a href="#portfolio">
                        <button class="btn-contacto ms-2">Portafolio</button>
                    </a>
                </section>
            </section>
        </div>
    </div>
</section>
