<section class="container my-5" id="portfolio">
    <h2 class="text-center">Mis Proyectos</h2>
    <div class="row justify-content-around">
        <a class="col-12 col-md-4 col-lg-6 col-xl-5 m-0 m-lg-2  contenedor-projects" href="https://ecopartyproducciones.com/" target="_blank">
            <div class="card card-projects">
                <div class="card-header">
                    <h3 class="text-center">EcoPartyProducciones</h3>
                </div>
                <div class="card-body p-0">
                     <img class="img-fluid" src="./assets/img/proyects/ecoparty.png" alt="">   
                </div>
            </div>
        </a>
        
    </div>
</section>
