<section class="container">
    <h2 class="text-center">Mis Skills</h2>
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 col-lg-2 container-logo">
            <img class="logo-skill" src="../../../assets/img/icons/html5.svg" alt="logo html">
        </div>
        <div class="col-6 col-md-4 col-lg-2 container-logo">
            <img class="logo-skill" src="../../../assets/img/icons/css3.svg" alt="logo css3">
        </div>
        <div class="col-6 col-md-4 col-lg-2 container-logo">
            <img class="logo-skill" src="../../../assets/img/icons/sass.svg" alt="logo sass">
        </div>
        <div class="col-6 col-md-4 col-lg-2 container-logo">
            <img class="logo-skill" src="../../../assets/img/icons/angular.svg" alt="logo angular">
        </div>
        <div class="col-6 col-md-4 col-lg-2 container-logo">
            <img class="logo-skill" src="../../../assets/img/icons/react.svg" alt="logo react">
        </div>
        <div class="col-6 col-md-4 col-lg-2 container-logo">
            <img class="logo-skill" src="../../../assets/img/icons/github.svg" alt="logo github">
        </div>
    </div>
</section>
