<section>
    <h2 class="text-center">Mis Skills</h2>
    <div class="scroll-container ">
        <div class="scroll-content">
            <div class="scroll-group" >
                <img *ngFor="let img of images" class="logo-skill" [src]="img" alt="logo html">
            </div>
            <div class="scroll-group" >
                <img *ngFor="let img of images" class="logo-skill" [src]="img" alt="logo html">
            </div>
            <div class="scroll-group" >
                <img *ngFor="let img of images" class="logo-skill" [src]="img" alt="logo html">
            </div>
            <div class="scroll-group" >
                <img *ngFor="let img of images" class="logo-skill" [src]="img" alt="logo html">
            </div>
            <div class="scroll-group" >
                <img *ngFor="let img of images" class="logo-skill" [src]="img" alt="logo html">
            </div>
            <div class="scroll-group" >
                <img *ngFor="let img of images" class="logo-skill" [src]="img" alt="logo html">
            </div>
        </div>
    </div>
    
</section>
